# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class

# Virtual environments
venv/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/

# Docker
docker-compose.override.yml

# macOS
.DS_Store
